<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <main id='app'>
        <h1 v-if="(datos == 0)">el dia es muy nublado</h1>
        <h1 v-else-if="(datos == 1)">El dia esta muy nublado</h1>  
        <h1 v-else>El dia nublado</h1>  
        <input type="number" v-model="datos">
    </main>
    <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
    <script>
        const app = new Vue({
            el: '#app',
            data:{
                datos:0
            }
        });
        /*
        var x = 10;
        if(x==5){
            alert(x);
        }else{
            alert(false);
        }
        */
    </script>
</body>
</html>